.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background: #17111c;
  border-radius: 8px;
  padding: 2rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.popup-content code {
  background: rgba(255, 255, 255, 0.1);
}

.popup-content h3 {
  margin-bottom: 1rem;
}

.popup-content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.popup-content li {
  margin-bottom: 0.5rem;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--ifm-color-primary);
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.close-icon:hover {
  color: var(--ifm-color-primary-dark);
}