/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    /*--ifm-color-primary: #3578e5;*/
    /*--ifm-color-primary-dark: #2f6ac8;*/
    /*--ifm-color-primary-darker: #295bac;*/
    /*--ifm-color-primary-darkest: #21498a;*/
    /*--ifm-color-primary-light: #4181ea;*/
    /*--ifm-color-primary-lighter: #5691f1;*/
    /*--ifm-color-primary-lightest: #70a2f3;*/

    --ifm-color-primary: #8d1cc6;
    --ifm-color-primary-dark: #7b19ac;
    --ifm-color-primary-darker: #6b1695;
    --ifm-color-primary-darkest: #5d1381;
    --ifm-color-primary-light: #9922d5;
    --ifm-color-primary-lighter: #a52be3;
    --ifm-color-primary-lightest: #b13dec;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --ifm-color-success-dark: rgb(4, 140, 52);
    --ifm-color-success-contrast-background: rgba(0, 174, 0, 0.1) !important;

    #deadlinesBlock {
        background-color: rgba(79, 44, 149, 0.15);
        padding: 20px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}

.back-to-home-button {
    background-color: rgba(53, 120, 229, 0.10);
    box-shadow: -2px -2px 4px rgba(53, 120, 229, 0.5);
    color: var(--ifm-color-primary);
    border: 1px solid var(--ifm-color-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-home-button:hover {
    background-color: var(--ifm-color-primary);
    color: #fff;
}

.snowflake {
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #fff;
}


[data-theme='dark'] {
    --ifm-background-color: #17111c !important;
    --ifm-background-surface-color: #3d1a55 !important;

    .footer--dark {
        --ifm-footer-background-color: #021201 !important;
    }

    scrollbar-color: #5a4c65 #2a1c33 !important;

    ::-webkit-scrollbar {
        background-color: #2a1c33 !important; /* track color */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #5a4c65 !important; /* thumb color */
    }

    [data-theme='dark']::-webkit-scrollbar-thumb:hover {
        background-color: #957da8 !important; /* hover state */
    }

    --ifm-color-primary: #fd9f4f;
    --ifm-color-primary-dark: #e38f47;
    --ifm-color-primary-darker: #c1732f;
    --ifm-color-primary-darkest: #9a571c;
    --ifm-color-primary-light: #fba55b;
    --ifm-color-primary-lighter: #fbad69;
    --ifm-color-primary-lightest: #fdbb83;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    --ifm-color-success-dark: rgb(4, 163, 60);
    --ifm-color-success-contrast-background: rgba(3, 85, 48, 0.5) !important;

    #deadlinesBlock {
        background-color: rgba(133, 60, 161, 0.12);
    }

    .back-to-home-button {
        background-color: rgba(253, 159, 79, 0.25);
        box-shadow: -2px -2px 4px rgba(239, 159, 79, 0.8);
        color: var(--ifm-color-primary);
        border: 1px solid var(--ifm-color-primary);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .back-to-home-button:hover {
        background-color: var(--ifm-color-primary);
        color: #000;
    }

    .snowflake {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 0 5px #000;
        font-size: 1em;
    }
}

/*[data-theme='dark'] {*/
/*  --ifm-background-color: #1f2023 !important;*/
/*  --ifm-background-surface-color: #2b2d30;*/
/*  --ifm-color-primary: #699fe9;*/
/*  --ifm-color-primary-dark: #2f6ac8;*/
/*  --ifm-color-primary-darker: #295bac;*/
/*  --ifm-color-primary-darkest: #21498a;*/
/*  --ifm-color-primary-light: #4181ea;*/
/*  --ifm-color-primary-lighter: #5691f1;*/
/*  --ifm-color-primary-lightest: #70a2f3;*/
/*  --ifm-code-font-size: 95%;*/
/*  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);*/

/*  #deadlinesBlock {*/
/*    background-color: rgba(109, 166, 245, 0.15);*/
/*  }*/
/*}*/
